#
# Copyright 2018, 2021 Delphix
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# This file is intended only for QA-specific testing items and frameworks.
# Anything required by customers should not be added here.
# snmptrapd pkg is added to test snmp traps feature.
#

- apt:
    name:
      - nftables
      - snmptrapd
      - ufw
    state: present
  register: result
  until: result is not failed
  retries: 3
  delay: 60

#
# We would ideally limit the build dependencies to the "internal-dev" variant.
# However, we want to use the "internal-qa" variant to do pre-push testing, and
# we currently do pre-push testing by building the code under test on the
# Delphix Engine (and changing this workflow would require a significant amount
# of work). As a temporary workaround, we install the build dependencies on the
# "internal-qa" variant. In the long term, we should change the pre-push jobs to
# do builds on a separate bootstrap VM rather than on a Delphix Engine. Then we
# can move the build dependencies from the list below back into the
# "internal-dev" playbook.
#
- apt:
    name:
      - ant
      - awscli
      - build-essential
      - git
      - libcrypt-blowfish-dev
      - libcurl4-openssl-dev
      - libnss3-dbg
      - libnss3-dev
      - libnss3-tools
      - libpam0g-dev
      - libssl-dev
      - python-pip
    state: present
  register: result
  until: result is not failed
  retries: 3
  delay: 60

- copy:
    dest: /etc/nftables.conf
    mode: 0644
    content: |
      #!/usr/sbin/nft -f
      flush ruleset
  notify: nftables
