#
# Copyright (c) 2019 by Delphix. All rights reserved.
#

#
# The "BRANCH" parameter tracks the upstream branch of appliance-build. It is
# used to determine which branch of the linux package mirror will be used for
# the build if UPSTREAM_PRODUCT_BRANCH is not set. UPSTREAM_PRODUCT_BRANCH is
# set when appliance build is built by the appliance-build Jenkins job. The
# UPSTREAM_BRANCH parameter should be updated by the release lead on branching
#

UPSTREAM_BRANCH="6.0/release"
