#
# Copyright 2018 Delphix
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

#
# This role allows building ZFS on the appliance.
#
---
- fail:
    msg: "Required environment variable 'APPLIANCE_USERNAME' is empty."
  when: lookup('env', 'APPLIANCE_USERNAME') == ''

- apt:
    name: "{{ item }}"
    state: present
  with_items:
    - alien
    - autoconf
    - build-essential
    - cppcheck
    - curl
    - emacs
    - fakeroot
    - gdebi
    - git
    - gawk
    - ksh
    - libattr1-dev
    - libblkid-dev
    - libelf-dev
    - libselinux-dev
    - libssl-dev
    - libtool
    - libudev-dev
    - lsscsi
    - nfs-kernel-server
    - parted
    - python-minimal
    - targetcli-fb
    - unzip
    - uuid-dev
    - wget
    - zlib1g-dev
  register: result
  until: result is not failed
  retries: 3
  delay: 60

- git:
    repo: "https://github.com/delphix/zfs.git"
    dest:
      "/export/home/{{ lookup('env', 'APPLIANCE_USERNAME') }}/zfs"
    version: master
    accept_hostkey: yes
    update: no

- file:
    path: "/export/home/{{ lookup('env', 'APPLIANCE_USERNAME') }}/zfs"
    owner: "{{ lookup('env', 'APPLIANCE_USERNAME') }}"
    group: staff
    state: directory
    recurse: yes
