[[source]]
url = "https://artifactory.delphix.com/artifactory/api/pypi/delphix-virtual-pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
jira = "3.0.1"

[dev-packages]

[requires]
python_version = "3"
